@import url('./xy-theme.css');
 
html,
body {
  margin: 0;
  font-family: sans-serif;
}
 
#app {
  width: 100vw;
  height: 100vh;
}

.appname {
  text-align: center;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 1rem;
}

.w3cflow {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

:root {
  --nodeheaderheight: 30px;
}

.w3cflownodeheader {
  position: absolute; /* Allow precise positioning at the top */
  top: 0; /* Position it at the very top */
  left: 0; /* Align it to the left edge */
  right: 0; /* Stretch to fill the width */
  height: var(--nodeheaderheight); /* Define a fixed height for the header (optional) */
  line-height: 30px; /* Vertically center the text within the header */
  text-align: center; /* Center-align the text */
  font-weight: bold; /* Make the header text bold */
  background-color: #f0f0f0; /* Optional background color for the header */
  border-bottom: 1px solid #ddd; /* Optional separator between header and content */
  z-index: 2; /* Ensure the header stays above other content */
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.w3cflownodeheader.good {
  background-color: #a4eda8;
}

.w3cflownode {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: var(--nodeheaderheight);
  max-width: -webkit-fill-available;
  max-width: -moz-available;
}

.w3cflownode textarea {
  width: 100%; /* Make the textarea span the full width of the node */
  height: 100%; /* Allow the textarea to fill the available height */
  resize: none; /* Disable default textarea resize */
  border: none; /* Remove default border */
  outline: none; /* Remove focus outline */
  background: transparent; /* Ensure the background blends with the node */
  font-size: 16px; /* Adjust text size */
  box-sizing: border-box; /* Include padding in the width and height */
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.w3cflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

.w3cflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc;
}

.w3cflow .w3cflownodeMenuItem {
  width: 8rem;
  height: 20px;
  /* padding: 4px; */
  border: 1px solid #EDEDED;
  border-color: #C5C5C5;
  border-radius: 8px;
  box-shadow: 3.54px 4.55px 0px #00000005, 
      0px 3.54px 4.55px 0px #0000000D, 
      0px 0.51px 1.01px 0px #0000001A;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.w3cflow .selectall {
  margin-top: 10px;
}

.w3cflow aside .description {
  margin-bottom: 10px;
}

.react-flow__node .w3cflownode {
  overflow: hidden; /* Prevent overflow of content */
  white-space: nowrap; /* Prevent text wrapping */
  text-overflow: ellipsis; /* Add '...' for overflowing text */
}

.broken {
  background-color: rgb(236, 69, 69);
}

.need-improve {
  background-color: rgb(255, 255, 0);
}

@media screen and (min-width: 768px) {
  .w3cflow {
    flex-direction: row;
  }
 
  .w3cflow aside {
    width: 20%;
    max-width: 250px;
  }
}

.handleLabel-left {
  /* position: relative; */
  /* width: 200px; */
  transform: translate(10px, -35%);
  /* font-size: 12px; */
  pointer-events: none;
}

.handleLabel-right {
  transform: translate(-20px, -35%);
  pointer-events: none;
}